**Name**: Kamran Khan

**Batch**: B1

**Class**: TY - CSE AIML

**Roll No**: 11

<h1 align="center">Computing Lab - II | Experiment No - 4</h1>

**Aim:** Aggregate Functions in Python

**Objective:** To explore and understand  the use of aggregate functions in Python, focusing  on common functions such as `sum()`, `min()`, `max()`, `mean()`, and `count()`.

**Theory:**

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('IMDb_top_1000.csv')

1. `sum()`: 
    - Purpose: Calculates the total sum of numeric values in a dataset.
    - Usage: `sum(data)` or `column_name.sum()`, where data is an iterable like a list

In [7]:
df['No_of_Votes'].sum()

273692911

2. `min()`and `max()`: 
    - Purpose: Finds the minimum and  maximum values in a dataset.
    - Usage: `min(data)` and `max(data)` or `column_data.min()` and `column_data.max()`

In [5]:
df['IMDB_Rating'].min()

7.6

In [6]:
df['IMDB_Rating'].max()

9.3

3. `mean()`: 
    - Purpose: Calculates the average (mean) value of a dataset.
    - Usage: `(sum(data) / len(data))` or `column_data.mean()`

In [3]:
df['IMDB_Rating'].mean()

7.949300000000012

4. `count()`: 
    - Purpose: Counts the number of elements in a dataset.
    - Usage: `len(data)` or `column_data.count()`

In [2]:
df.count()

Poster_Link      1000
Series_Title     1000
Released_Year    1000
Certificate       899
Runtime          1000
Genre            1000
IMDB_Rating      1000
Overview         1000
Meta_score        843
Director         1000
Star1            1000
Star2            1000
Star3            1000
Star4            1000
No_of_Votes      1000
Gross             831
dtype: int64

5. `var()`: 
    - Purpose:
    - Usage: `column_data.var()`

In [10]:
df['IMDB_Rating'].var()

0.07589540540540526

6. `median()`: 
    - Purpose: 
    - Usage: `column_data.median()`

In [11]:
df['IMDB_Rating'].median()

7.9

7. `describe()`: 
    - Purpose: The describe() function is used to generate descriptive statistics of a DataFrame. It calculates various summary statistics for numerical columns in the DataFrame
    - Usage:

In [12]:
df.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

**Conclusion:** Aggregate functions in Python are powerful tools for analyzing and summarizing data. By practicing these functions, we'll gain valuable skills for working with datasets